# Local required
TALK2DOM_DB_URI=postgresql://admin:secret@localhost:5432/talk2dom
SECRET_KEY=replace-with-a-long-random-secret
UI_DOMAIN=http://localhost:3000
TALK2DOM_MODEL_NAME=gpt-4o-mini
TALK2DOM_MODEL_PROVIDER_NAME=openai
OPENAI_API_KEY=
